<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Add</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>
                <img style="width: 120px" src="{{ item.image }}" alt="" />
              </td>
              <td style="width: 25%">{{ item.description }}</td>
              <th style="width: 12%">{{ item.price }}</th>

              <div>
                <button (click)="onAdd(item)" (click)="priceChange()">
                  <!-- <i class="fa fa-plus"></i> -->
                  <i class="fa-solid fa-circle-plus"></i>
                </button>
                <!-- <button>{{ item.quantity }}</button> -->
                <button (click)="onMinus(item)" (click)="priceChange()">
                  <!-- <i class="fa fa-minus"></i> -->
                  <i class="fa-solid fa-circle-minus"></i>
                </button>
              </div>

              <td style="width: 12%">{{ item.quantity }}</td>
              <td style="width: 12%">{{ item.price * item.quantity }}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
              <!-- <td  ><strong>Total : ${{item.total *item.quantity}}</strong></td> -->
            </tr>
            <tr style="padding-left: 20%">
              <td colspan="4"></td>
              <td>
                <button (click)="emptycart()" class="btn btn-dark">
                  Empty Cart
                </button>
              </td>
              <td>
                <button routerLink="/products" class="btn btn-dark">
                  Shop
                </button>
              </td>
              <td>
                <button class="btn btn-success" routerLink="/checkout">
                  Checkout
                </button>
              </td>
              <td>
                <strong>Amount : ${{ grandTotal }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title"></h5>
    </div>
    <div class="center">
      <img
        src="https://constant.myntassets.com/checkout/assets/img/empty-bag.webp"
      />

      <h4>Hey,it feels so light</h4>
      <h6>Grab your favourite items now</h6>
      <button routerLink="/products" class="btn btn-dark">Shop Now</button>
    </div>
  </div>
</ng-container>
