<app-header></app-header>

<div class="card">
  <div
    style="
      border-radius: 200px;
      height: 200px;
      width: 200px;
      background: #f8faf5;
      margin: 0 auto;
    "
  >
    <i class="checkmark" style="padding-left: 60px;">✓</i>
  </div>
  <h1>Order is placed</h1>
  <p>
    We received your purchase request;<br />
    we'll be in touch shortly!
  </p>
 
  <button class="btn btn-secondary" routerLink="/invoice"style="margin-top: 20px; margin-left:20px">Invoice</button>
  <!-- <button class="btn btn-danger" >Notify</button> -->

</div>
