<app-header></app-header>

<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a (click)="filter('')">
        <img src="https://img.icons8.com/fluency/2x/check-all.png" alt="" />
        <h6>All products</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('electronics')">
        <img
          src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/2x/external-electronics-home-appliance-flaticons-lineal-color-flat-icons-8.png"
          alt=""
        />
        <h6>Electronics</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('fashion')">
        <img
          src="https://img.icons8.com/external-anggara-filled-outline-anggara-putra/2x/external-fashion-ecommerce-anggara-filled-outline-anggara-putra-2.png"
          alt=""
        />
        <h6>Fashion</h6>
      </a>
    </div>

    <select title="productFilter" (change)="sortProductByPrice($event.target)" class="select">
      <option selected>Sort</option>
      <option value="l2h">Low to High</option>
      <option value="h2l">High to Low</option>
      <option value="ol">$0 - $100</option>
      <option value="br">$100-400</option>
      <option value="gt">Above</option>
    </select>

  </div>
</div>

<div class="container">
  <div class="row">
    <ng-container
      *ngFor="let item of filterCategory | filter: searchKey:'title'
      
      | paginate: { itemsPerPage: 6,
        currentPage: page,
        totalItems : totalLength
      
      }">
      <div class="card col-md-3">
        <img src="{{ item.image }}" alt="" />
        <h5
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.title }}
        </h5>
        <p
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.description }}
        </p>
        <p>
          <strong>Price:</strong> ${{ item.price }}
          <i class="fas fa-heart float-left" (click)="OnWishList(item)"></i>
        </p>

        <button
          class="btn btn-dark mt-1"
          [disabled]="buttonDisabled"
          [hidden]="cartItemIdList.includes(item.id)"
          (click)="addtoCart(item)"
        >
          Add to cart
        </button>

        <button title="addOrMinus" class="btn btn-dark mt-1" [hidden]="!cartItemIdList.includes(item.id)">
          <button title="add" (click)="onAdd(item)">
            <i class="fa-solid fa-circle-plus"></i>
          </button>
          <button>{{ item.quantity }}</button>
          <button title="minus" (click)="onMinus(item)">
            <i class="fa-solid fa-circle-minus"></i>
          </button>
        </button>
      </div>
    </ng-container>
    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
  </div>


</div>
