<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <!-- <th>Description</th> -->
              <th>Price</th>
              <!-- <th>Quantity</th>
                            <th>Total</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>
                <img style="width: 120px" src="{{ item.image }}" alt="" />
              </td>
              <!-- <td style="width: 25%;">{{item.description}}</td> -->
              <th style="width: 12%">{{ item.price }}</th>
              <!-- <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td> -->
              <td>
                <button
                  (click)="removeItemFromWish(item)"
                  class="btn btn-danger"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr style="padding-left: 20%">
              <td colspan="4"></td>
              <td>
                <button (click)="emptyCartFromWish()" class="btn btn-dark">
                  Empty Wishlist
                </button>
              </td>
              <td>
                <button routerLink="/products" class="btn btn-dark">
                  Add now
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container">
    <div class="card">
      <h5 class="card-title"></h5>
    </div>
    <div class="center">
      <img
        src="https://i.pinimg.com/originals/c6/0f/ea/c60fea3ac3aab2e82c2f7ea901ef55f6.jpg"
      />

      <h4>Your Wishlist is empty</h4>
      <h6></h6>
      <button routerLink="/products" class="btn btn-dark">Add now</button>
    </div>
  </div>
</ng-container>
